{% extends "tasks/base.html" %} {% block content %}
<div class="wrapper">
    <div class="content">
        <div class="form">
            <div class="container">
                <div class="form__title">Update Task</div>
                <form class="form__row form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form__field">
                        <div class="form__text">{{ form.title }}</div>
                        <div class="form__commplete">complete: {{ form.complete }}</div>

                    </div>
                    <button class="form__button button" type="submit">update</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}